In [ ]:
import pandas as pd
import json

df = pd.read_csv('ratings.csv')
# df.drop(columns=['timestamp'],inplace=True)
# df = df.reset_index(drop=True).set_index(['userId','movieId'])
df.head(5)
print(len(df))

In [58]:
print(len(df))
df.drop_duplicates(subset=['userId','movieId'],inplace=True)
print(len(df))
df.dropna(axis=0,subset=['rating'])
print(len(df))
df.head(50)

26024289
26024289
26024289

    userId  movieId  rating
0        1      110     1.0
1        1      147     4.5
2        1      858     5.0
3        1     1221     5.0
4        1     1246     5.0
5        1     1968     4.0
6        1     2762     4.5
7        1     2918     5.0
8        1     2959     4.0
9        1     4226     4.0
10       1     4878     5.0
11       1     5577     5.0
12       1    33794     4.0
13       1    54503     3.5
14       1    58559     4.0
15       1    59315     5.0
16       1    68358     5.0
17       1    69844     5.0
18       1    73017     5.0
19       1    81834     5.0
20       1    91500     2.5
21       1    91542     5.0
22       1    92439     5.0
23       1    96821     5.0
24       1    98809     0.5
25       1    99114     4.0
26       1   112552     5.0
27       2        5     3.0
28       2       25     3.0
29       2       32     2.0
30       2       58     3.0
31       2       64     4.0
32       2       79     4.0
33       2      141     3.0
34       2      260     4.0
35       2      339     5.0
36       2      377     4.0
37       2      605     4.0
38       2      628     4.0
39       2      648     4.0
40       2      762     3.0
41       2      780     3.0
42       2      786     1.0
43       2      788     1.0
44       2     1210     4.0
45       2     1233     4.0
46       2     1356     5.0
47       2     1475     3.0
48       2     1552     2.0
49       3      480     3.0

In [59]:
print(df['rating'].unique())

[1.  4.5 5.  4.  3.5 2.5 0.5 3.  2.  1.5]

In [60]:
df = df.reset_index(drop=True).set_index(['userId','movieId'])

# df.to_csv('rating_processed.csv')

In [64]:
df.dtypes

rating    float64
dtype: object