In [1]:
import pandas as pd

df_credits = pd.read_csv('credits.csv')
df_credits.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [2]:
print(len(df_credits))
df_credits.drop_duplicates(subset=['id'], inplace=True)
print(len(df_credits))
df_credits.dropna(subset=['id'],inplace=True)
print(len(df_credits))
df_credits.dropna(thresh=2,inplace=True)
print(len(df_credits))

45476
45432
45432
45432

In [7]:
import json
from json import JSONDecodeError
from collections import defaultdict 
cast_dict = defaultdict(list)
cast_info = defaultdict(list)
genre_list = []
for ind,row in df_credits.iterrows():
    # print(type(row['genres']))
    s = row['cast'].replace('\'','\"')
    s = s.replace('None','\"None\"')
    s = s[2:-2]
    s = s.split('}, {')
    id = row['id']
    cast_arr = []
    for ss in s:
        try:
            json_obj = json.loads('{'+ss+'}')
            cast_info[json_obj['id']].append(json_obj['name'].replace(',','.'))
            cast_dict[json_obj['id']].append(id)
        except JSONDecodeError:
            # print(JSONDecodeError)
            pass
        except KeyError:
            # print(JSONDecodeError)
            pass
            
temp = []
for id,name in cast_info.items():
    temp.append([id,name.pop()])
df_cast_info = pd.DataFrame(temp,columns=['id','name'])

df_cast_info = df_cast_info.reset_index(drop=True).set_index(keys=['id'])

# df_cast_info.to_csv('cast_info.csv')

cast_movie = []
for c_id,m_id in cast_dict.items():
    cast_movie.append([c_id,m_id])
df_cast_movie = pd.DataFrame(cast_movie,columns=['cast_id','movie_id'])

# df_cast_movie = df_cast_movie.reset_index(drop=True).set_index(keys=['cast_id','movie_id'])

df_cast_movie.to_csv('movie_cast.csv')

In [13]:
crew_dict = defaultdict(list)
crew_info = defaultdict(list)
genre_list = []
for ind,row in df_credits.iterrows():
    # print(type(row['genres']))
    s = row['crew'].replace('\'','\"')
    s = s.replace('None','\"None\"')
    s = s[2:-2]
    s = s.split('}, {')

    id = row['id']
    crew_arr = []
    for ss in s:
        try:
            json_obj = json.loads('{'+ss+'}')
#             print(json_obj)
#             break
            name = json_obj['name'].replace(',','.')    
            crew_info[json_obj['id']].append(name)
            crew_dict[json_obj['id']].append([id,json_obj['job']])
        except JSONDecodeError:
            # print(JSONDecodeError)
            pass
        except KeyError:
#             print(JSONDecodeError)
            pass
temp = []
for id,name in crew_info.items():
    temp.append([id,name.pop()])
df_crew_name = pd.DataFrame(temp,columns=['id','name'])

df_crew_name= df_crew_name.reset_index(drop=True).set_index(keys=['id'])

df_crew_name.sample(10)
df_crew_name.to_csv('crew_info.csv')

crew_movie = []
for c_id,movie in crew_dict.items():
    for info in movie:
        crew_movie.append([c_id,info[0],info[1]])
df_crew_movie = pd.DataFrame(crew_movie,columns=['crew_id','movie_id','job'])
df_crew_movie.sample(10)

df_crew_movie.to_csv('movie_crew.csv')

        crew_id  movie_id                     job
8206    1360094      9397            Set Designer
430590   152016    220029                  Writer
320002   584713    125531                  Editor
237465  1098542     42811                  Editor
150247    96369    102428                  Writer
92191     14643       980                Director
457580  1752740    391709         Dialogue Editor
243098  1327139     49538           Art Direction
123850    52193      8619  Supervising ADR Editor
215991  1608888    283995  First Assistant Editor

In [19]:
df_credits_data = pd.read_csv('movie_cast.csv')

# df_credits_data.drop(columns=['Unnamed: 0'],inplace=True)
df_credits_data.head()

   cast_id  movie_id
0       31       862
1       31       568
2       31        13
3       31      9800
4       31       858

In [20]:
print(len(df_credits_data))
df_credits_data = df_credits_data.drop_duplicates()
print(len(df_credits_data))

532496
532496

In [16]:
check = {}
count = 0
for ind,row in df_credits_data.iterrows():
    if (row['cast_id'],row['movie_id']) not in check:
        check[(row['cast_id'],row['movie_id'])] = 1
    else:
        print((row['cast_id'],row['movie_id']))
count

0

In [23]:
df_credits_data = df_credits_data.reset_index(drop=True).set_index(keys=['cast_id','movie_id'])
df_credits_data.head()

Empty DataFrame
Columns: []
Index: [(31, 862), (31, 568), (31, 13), (31, 9800), (31, 858)]

In [24]:
df_credits_data.to_csv('movie_cast.csv')

In [25]:
df_crew_data = pd.read_csv('movie_crew.csv')
print(len(df_crew_data))
df_crew_data = df_crew_data.drop_duplicates()
print(len(df_crew_data))
df_crew_data = df_crew_data.reset_index(drop=True).set_index(keys=['crew_id','movie_id'])
df_crew_data.head()

460761
460761

Empty DataFrame
Columns: []
Index: [(31, 862), (31, 568), (31, 13), (31, 9800), (31, 858)]